tags/bpel-g-5.3/bpel-g/ode-packaging/src/test/resources/gatherImports/wsdl/messages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.example.org/test/messages" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.example.org/test/" schemaLocation="../xsd/example.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SimpleFaultMessage">
    <wsdl:part element="tns:SimpleFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OneWay">
    <wsdl:part element="tns:OneWay" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest2">
    <wsdl:part element="tns:NewOperation2" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse2">
    <wsdl:part element="tns:NewOperationResponse2" name="parameters"/>
  </wsdl:message>
</wsdl:definitions>
