org.activebpel.services/src/main/resources/bpelgAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:bpel-g:services:admin" 
   xmlns:tns="urn:bpel-g:services:admin" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
              
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="urn:bpel-g:services:admin" xmlns="http://www.w3.org/2001/XMLSchema">
         <complexType name="AdminFault">
            <sequence>
               <element name="info" nillable="true" type="xs:string"/>
               <element name="details" nillable="true" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesListingFilter">
            <sequence>
               <element name="listStart" type="xs:int"/>
               <element name="maxReturn" type="xs:int"/>
            </sequence>
         </complexType>         

         <complexType name="AesProcessFilter">
            <complexContent>
               <extension base="tns:AesListingFilter">
                  <sequence>
                     <element name="processCompleteEnd" nillable="true" type="xs:dateTime"/>
                     <element name="processCompleteStart" nillable="true" type="xs:dateTime"/>
                     <element name="processCreateEnd" nillable="true" type="xs:dateTime"/>
                     <element name="processCreateStart" nillable="true" type="xs:dateTime"/>
                     <element name="processName" nillable="true" type="xs:QName"/>
                     <element name="processState" type="xs:int"/>
                     <element name="advancedQuery" nillable="true" type="xs:string"/>
                  </sequence>
               </extension>
            </complexContent>         
         </complexType>
         
         <complexType name="AesProcessInstanceDetail">
            <sequence>
               <element name="ended" nillable="true" type="xs:dateTime"/>
               <element name="name" nillable="true" type="xs:QName"/>
               <element name="processId" type="xs:long"/>
               <element name="started" nillable="true" type="xs:dateTime"/>
               <element name="state" type="xs:int"/>
               <element name="stateReason" type="xs:int"/>
            </sequence>
         </complexType>

         <complexType name="AesProcessListResultRowDetails">
            <sequence>
                <element name="item" type="tns:AesProcessInstanceDetail" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
         </complexType>
         
         <complexType name="AesProcessListResult">
            <annotation>
               <documentation>The "empty" element is a side affect of the JavaBean which contains a read only property that indicates if the result is empty.</documentation>               
            </annotation>
            <sequence>
               <element name="totalRowCount" type="xs:int"/>
               <element name="completeRowCount" type="xs:boolean"/>
               <element name="rowDetails" nillable="true" type="tns:AesProcessListResultRowDetails"/>
               <element name="empty" type="xs:boolean"/>
            </sequence>
         </complexType>
         
         <complexType name="AesBreakpointInstanceDetail">
            <sequence>
               <element name="processName" nillable="true" type="xs:QName"/>
               <element name="nodePath" nillable="true" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesBreakpointListRowDetails">
            <sequence>
                <element name="item" type="tns:AesBreakpointInstanceDetail" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
         </complexType>
         
         <complexType name="AesBreakpointList">
            <sequence>
               <element name="rowDetails" nillable="true" type="tns:AesBreakpointListRowDetails"/>
               <element name="totalRowCount" type="xs:int"/>
            </sequence>
         </complexType>

         <complexType name="AesVoidType"/>

         <complexType name="AesConfigurationType">
            <sequence>
               <element name="xmlString" type="xs:string"/>
            </sequence>
         </complexType>

         <complexType name="AesProcessType">
            <sequence>
               <element name="pid" type="xs:long"/>
            </sequence>
         </complexType>
         
         <complexType name="AesStringResponseType">
            <sequence>
               <element name="response" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesBreakpointRequestType">
            <sequence>
               <element name="cid" type="xs:long"/>
               <element name="endpointURL" type="xs:string"/>
               <element name="breakpointList" type="tns:AesBreakpointList" nillable="true"/>
            </sequence>
         </complexType>

         <complexType name="AesProcessRequestType">
            <sequence>
               <element name="cid" type="xs:long"/>
               <element name="pid" type="xs:long"/>
               <element name="endpointURL" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesEngineRequestType">
            <sequence>
               <element name="cid" type="xs:long"/>
               <element name="endpointURL" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesRemoveBreakpointRequestType">
            <sequence>
               <element name="cid" type="xs:long"/>
               <element name="endpointURL" type="xs:string"/>
            </sequence>
         </complexType>
         
         <complexType name="AesProcessObjectType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="location" type="xs:string"/>
            </sequence>
         </complexType>

         <complexType name="AesDigestType">
            <sequence>
               <element name="digest" type="xs:base64Binary"/>
            </sequence>
         </complexType>

         <complexType name="AesGetVariableDataType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="variablePath" type="xs:string"/>
            </sequence>
         </complexType>

         <complexType name="AesSetVariableDataType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="variablePath" type="xs:string"/>
               <element name="variableData" type="xs:string" nillable="true"/>
            </sequence>
         </complexType>
         
         <complexType name="AesProcessFilterType">
            <sequence>
               <element name="filter" type="tns:AesProcessFilter"/>
            </sequence>
         </complexType>

         <complexType name="AesProcessListType">
            <sequence>
               <element name="response" type="tns:AesProcessListResult"/>
            </sequence>
         </complexType>

         <complexType name="AesProcessDetailType">
            <sequence>
               <element name="response" type="tns:AesProcessInstanceDetail"/>
            </sequence>
         </complexType>

         <complexType name="AesDeployBprType">
            <sequence>
               <element name="bprFilename" type="xs:string"/>
               <element name="base64File" type="xs:string"/>
            </sequence>
         </complexType>

         <complexType name="AesSetPartnerLinkType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="partnerRole" type="xs:boolean"/>
               <element name="locationPath" type="xs:string"/>
               <element name="data" type="xs:string" nillable="true"/>
            </sequence>
         </complexType>

         <complexType name="AesSetCorrelationType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="locationPath" type="xs:string"/>
               <element name="data" type="xs:string" nillable="true"/>
            </sequence>
         </complexType>

         <complexType name="AesRetryActivityType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="locationPath" type="xs:string"/>
               <element name="atScope" type="xs:boolean"/>
            </sequence>
         </complexType>

         <complexType name="AesCompleteActivityType">
            <sequence>
               <element name="pid" type="xs:long"/>
               <element name="locationPath" type="xs:string"/>
            </sequence>
         </complexType>
         
         <element name="adminFaultElement" type="tns:AdminFault"/>
         
         <element name="getConfigurationInput"  type="tns:AesVoidType"/>
         <element name="getConfigurationOutput" type="tns:AesConfigurationType"/>         
         <element name="setConfigurationInput" type="tns:AesConfigurationType"/>
         
         <element name="addEngineListenerInput" type="tns:AesEngineRequestType"/>
         <element name="removeEngineListenerInput" type="tns:AesEngineRequestType"/>

         <element name="addBreakpointListenerInput" type="tns:AesBreakpointRequestType"/>
         <element name="updateBreakpointListenerInput" type="tns:AesBreakpointRequestType"/>
         <element name="removeBreakpointListenerInput" type="tns:AesRemoveBreakpointRequestType"/>
         
         <element name="addProcessListenerInput" type="tns:AesProcessRequestType"/>
         <element name="removeProcessListenerInput" type="tns:AesProcessRequestType"/>
         
         <element name="resumeProcessObjectInput" type="tns:AesProcessObjectType"/>
         <element name="resumeProcessInput" type="tns:AesProcessType"/>
         <element name="restartProcessInput" type="tns:AesProcessType"/>
         <element name="suspendProcessInput" type="tns:AesProcessType"/>
         <element name="terminateProcessInput" type="tns:AesProcessType"/>
         
         <element name="getProcessStateInput" type="tns:AesProcessType"/>
         <element name="getProcessStateOutput" type="tns:AesStringResponseType"/>
         
         <element name="getProcessDigestInput" type="tns:AesProcessType"/>
         <element name="getProcessDigestOutput" type="tns:AesDigestType"/>
         
         <element name="getProcessDefInput" type="tns:AesProcessType"/>
         <element name="getProcessDefOutput" type="tns:AesStringResponseType"/>
         
         <element name="getProcessLogInput" type="tns:AesProcessType"/>
         <element name="getProcessLogOutput" type="tns:AesStringResponseType"/>

         <element name="getVariableDataInput" type="tns:AesGetVariableDataType"/>
         <element name="getVariableDataOutput" type="tns:AesStringResponseType"/>

         <element name="setVariableDataInput" type="tns:AesSetVariableDataType"/>
         <element name="setVariableDataOutput" type="tns:AesStringResponseType"/>

         <element name="getProcessListInput" type="tns:AesProcessFilterType"/>
         <element name="getProcessListOutput" type="tns:AesProcessListType"/>

         <element name="getProcessDetailInput" type="tns:AesProcessType"/>
         <element name="getProcessDetailOutput" type="tns:AesProcessDetailType"/>

         <element name="getAPIVersionInput" type="tns:AesVoidType"/>
         <element name="getAPIVersionOutput" type="tns:AesStringResponseType"/>
         
         <element name="deployBprInput" type="tns:AesDeployBprType"/>
         <element name="deployBprOutput" type="tns:AesStringResponseType"/>

         <element name="setPartnerLinkDataInput" type="tns:AesSetPartnerLinkType"/>
         <element name="setCorrelationDataInput" type="tns:AesSetCorrelationType"/>
      
         <element name="retryActivityInput" type="tns:AesRetryActivityType"/>
         <element name="completeActivityInput" type="tns:AesCompleteActivityType"/>
      </schema>
   </wsdl:types>
   
   <wsdl:message name="voidResponse"/>

   <wsdl:message name="getConfigurationRequest">
      <wsdl:part name="input" element="tns:getConfigurationInput"/>
   </wsdl:message>
   <wsdl:message name="getConfigurationResponse">
      <wsdl:part name="output" element="tns:getConfigurationOutput"/>
   </wsdl:message>

   <wsdl:message name="setConfigurationRequest">
      <wsdl:part name="input" element="tns:setConfigurationInput"/>
   </wsdl:message>

   <wsdl:message name="addEngineListenerRequest">
      <wsdl:part name="input" element="tns:addEngineListenerInput"/>
   </wsdl:message>

   <wsdl:message name="addBreakpointListenerRequest">
      <wsdl:part name="input" element="tns:addBreakpointListenerInput"/>
   </wsdl:message>

   <wsdl:message name="updateBreakpointListRequest">
      <wsdl:part name="input" element="tns:updateBreakpointListenerInput"/>
   </wsdl:message>

   <wsdl:message name="addProcessListenerRequest">
      <wsdl:part name="input" element="tns:addProcessListenerInput"/>
   </wsdl:message>

   <wsdl:message name="removeProcessListenerRequest">
      <wsdl:part name="input" element="tns:removeProcessListenerInput"/>
   </wsdl:message>

   <wsdl:message name="resumeProcessRequest">
      <wsdl:part name="input" element="tns:resumeProcessInput"/>
   </wsdl:message>

   <wsdl:message name="resumeProcessObjectRequest">
      <wsdl:part name="input" element="tns:resumeProcessObjectInput"/>
   </wsdl:message>

   <wsdl:message name="restartProcessRequest">
      <wsdl:part name="input" element="tns:restartProcessInput"/>
   </wsdl:message>

   <wsdl:message name="suspendProcessRequest">
      <wsdl:part name="input" element="tns:suspendProcessInput"/>
   </wsdl:message>

   <wsdl:message name="terminateProcessRequest">
      <wsdl:part name="input" element="tns:terminateProcessInput"/>
   </wsdl:message>

   <wsdl:message name="getProcessStateRequest">
      <wsdl:part name="input" element="tns:getProcessStateInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessStateResponse">
      <wsdl:part name="output" element="tns:getProcessStateOutput"/>
   </wsdl:message>

   <wsdl:message name="getProcessDigestRequest">
      <wsdl:part name="input" element="tns:getProcessDigestInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessDigestResponse">
      <wsdl:part name="output" element="tns:getProcessDigestOutput"/>
   </wsdl:message>

   <wsdl:message name="getProcessDefRequest">
      <wsdl:part name="input" element="tns:getProcessDefInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessDefResponse">
      <wsdl:part name="output" element="tns:getProcessDefOutput"/>
   </wsdl:message>

   <wsdl:message name="getProcessLogRequest">
      <wsdl:part name="input" element="tns:getProcessLogInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessLogResponse">
      <wsdl:part name="output" element="tns:getProcessLogOutput"/>
   </wsdl:message>

   <wsdl:message name="getVariableDataRequest">
      <wsdl:part name="input" element="tns:getVariableDataInput"/>
   </wsdl:message>
   <wsdl:message name="getVariableDataResponse">
      <wsdl:part name="output" element="tns:getVariableDataOutput"/>
   </wsdl:message>

   <wsdl:message name="setVariableDataRequest">
      <wsdl:part name="input" element="tns:setVariableDataInput"/>
   </wsdl:message>
   <wsdl:message name="setVariableDataResponse">
      <wsdl:part name="output" element="tns:setVariableDataOutput"/>
   </wsdl:message>
   
   <wsdl:message name="removeEngineListenerRequest">
      <wsdl:part name="input" element="tns:removeEngineListenerInput"/>
   </wsdl:message>

   <wsdl:message name="removeBreakpointListenerRequest">
      <wsdl:part name="input" element="tns:removeBreakpointListenerInput"/>
   </wsdl:message>

   <wsdl:message name="getProcessListRequest">
      <wsdl:part name="input" element="tns:getProcessListInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessListResponse">
      <wsdl:part name="output" element="tns:getProcessListOutput"/>
   </wsdl:message>

   <wsdl:message name="getProcessDetailRequest">
      <wsdl:part name="input" element="tns:getProcessDetailInput"/>
   </wsdl:message>
   <wsdl:message name="getProcessDetailResponse">
      <wsdl:part name="output" element="tns:getProcessDetailOutput"/>
   </wsdl:message>

   <wsdl:message name="getAPIVersionRequest">
      <wsdl:part name="input" element="tns:getAPIVersionInput"/>
   </wsdl:message>
   <wsdl:message name="getAPIVersionResponse">
      <wsdl:part name="output" element="tns:getAPIVersionOutput"/>
   </wsdl:message>

   <wsdl:message name="deployBprRequest">
      <wsdl:part name="input" element="tns:deployBprInput"/>
   </wsdl:message>
   <wsdl:message name="deployBprResponse">
      <wsdl:part name="output" element="tns:deployBprOutput"/>
   </wsdl:message>   

   <wsdl:message name="setPartnerLinkDataRequest">
      <wsdl:part name="input" element="tns:setPartnerLinkDataInput"/>
   </wsdl:message>

   <wsdl:message name="setCorrelationSetDataRequest">
      <wsdl:part name="input" element="tns:setCorrelationDataInput"/>
   </wsdl:message>

   <wsdl:message name="retryActivityRequest">
      <wsdl:part name="input" element="tns:retryActivityInput"/>
   </wsdl:message>

   <wsdl:message name="completeActivityRequest">
      <wsdl:part name="input" element="tns:completeActivityInput"/>
   </wsdl:message>

   <wsdl:message name="AdminFaultMsg">
      <wsdl:part name="fault" element="tns:adminFaultElement"/>
   </wsdl:message>

   <wsdl:portType name="IAeAxisActiveBpelAdmin">
      <wsdl:operation name="GetConfiguration">
         <wsdl:input  message="tns:getConfigurationRequest"/>
         <wsdl:output message="tns:getConfigurationResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="SetConfiguration">
         <wsdl:input  message="tns:setConfigurationRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="SuspendProcess">
         <wsdl:input  message="tns:suspendProcessRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="ResumeProcess">
         <wsdl:input  message="tns:resumeProcessRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="ResumeProcessObject">
         <wsdl:input  message="tns:resumeProcessObjectRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="RestartProcess">
         <wsdl:input  message="tns:restartProcessRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="TerminateProcess">
         <wsdl:input  message="tns:terminateProcessRequest"/>
         <wsdl:output message="tns:voidResponse"/>
         <wsdl:fault  message="tns:AdminFaultMsg" name="AdminFault"/>
      </wsdl:operation>

      <wsdl:operation name="AddEngineListener">
         <wsdl:input  message="tns:addEngineListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="AddBreakpointListener">
         <wsdl:input  message="tns:addBreakpointListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="UpdateBreakpointList">
         <wsdl:input  message="tns:updateBreakpointListRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="RemoveEngineListener">
         <wsdl:input  message="tns:removeEngineListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="RemoveBreakpointListener">
         <wsdl:input  message="tns:removeBreakpointListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="AddProcessListener">
         <wsdl:input  message="tns:addProcessListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="RemoveProcessListener">
         <wsdl:input  message="tns:removeProcessListenerRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetVariable">
         <wsdl:input  message="tns:getVariableDataRequest"/>
         <wsdl:output message="tns:getVariableDataResponse"/>
      </wsdl:operation>

      <wsdl:operation name="SetVariable">
         <wsdl:input  message="tns:setVariableDataRequest"/>
         <wsdl:output message="tns:setVariableDataResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="GetProcessList">
         <wsdl:input  message="tns:getProcessListRequest"/>
         <wsdl:output message="tns:getProcessListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetProcessDetail">
         <wsdl:input  message="tns:getProcessDetailRequest"/>
         <wsdl:output message="tns:getProcessDetailResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetProcessState">
         <wsdl:input  message="tns:getProcessStateRequest"/>
         <wsdl:output message="tns:getProcessStateResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetProcessDigest">
         <wsdl:input  message="tns:getProcessDigestRequest"/>
         <wsdl:output message="tns:getProcessDigestResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetProcessDef">
         <wsdl:input  message="tns:getProcessDefRequest"/>
         <wsdl:output message="tns:getProcessDefResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetProcessLog">
         <wsdl:input  message="tns:getProcessLogRequest"/>
         <wsdl:output message="tns:getProcessLogResponse"/>
      </wsdl:operation>

      <wsdl:operation name="DeployBpr">
         <wsdl:input  message="tns:deployBprRequest"/>
         <wsdl:output message="tns:deployBprResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="SetPartnerLinkData">
         <wsdl:input  message="tns:setPartnerLinkDataRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="SetCorrelationSetData">
         <wsdl:input  message="tns:setCorrelationSetDataRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="RetryActivity">
         <wsdl:input  message="tns:retryActivityRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="CompleteActivity">
         <wsdl:input  message="tns:completeActivityRequest"/>
         <wsdl:output message="tns:voidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="GetAPIVersion">
         <wsdl:input  message="tns:getAPIVersionRequest"/>
         <wsdl:output message="tns:getAPIVersionResponse"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>