bpel-g/ode-packaging/src/test/resources/example-su/wsdl/example.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test"
                  targetNamespace="http://www.example.org/test/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="testPartnerLinkType">
        <plnk:role name="proces" portType="tns:test"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="testPartnerLinkType2">
        <plnk:role name="proces" portType="tns:test2"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.example.org/test/" schemaLocation="../xsd/example.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SimpleFaultMessage">
        <wsdl:part element="tns:SimpleFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OneWay">
        <wsdl:part element="tns:OneWay" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="NewOperationRequest">
        <wsdl:part element="tns:NewOperation" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
        <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="NewOperationRequest2">
        <wsdl:part element="tns:NewOperation2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse2">
        <wsdl:part element="tns:NewOperationResponse2" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="test">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewOperationRequest"/>
            <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="simpleFault" message="tns:SimpleFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="test2">
        <wsdl:operation name="NewOperation2">
            <wsdl:input message="tns:NewOperationRequest2"/>
            <wsdl:output message="tns:NewOperationResponse2"/>
            <wsdl:fault name="simpleFault" message="tns:SimpleFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="testOneway">
        <wsdl:operation name="oneway">
            <wsdl:input message="tns:OneWay"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="test2" type="tns:test2">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation2">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="simpleFault">
                <wsdlsoap:fault name="simpleFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="test2">
        <wsdl:port binding="tns:test2" name="test2Port">
            <wsdlsoap:address location="http://127.0.0.1:8080/bpel-g/services/test2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
