bpel-g/org.activebpel.services/src/main/resources/processes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:bpel-g:services:processes" xmlns:tns="urn:bpel-g:services:processes"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <wsdl:types>
      <xs:schema elementFormDefault="qualified" targetNamespace="urn:bpel-g:services:processes"
         xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

         <xs:complexType name="listingFilter">
            <xs:sequence>
               <xs:element name="listStart" type="xs:int" minOccurs="0"/>
               <xs:element name="maxReturn" type="xs:int" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>

         <xs:simpleType name="processStateValueType">
            <xs:annotation>
               <xs:appinfo>
                  <jaxb:typesafeEnumClass>
                     <jaxb:typesafeEnumMember value="0" name="Loaded"/>
                     <jaxb:typesafeEnumMember value="1" name="Running"/>
                     <jaxb:typesafeEnumMember value="2" name="Suspended"/>
                     <jaxb:typesafeEnumMember value="3" name="Complete"/>
                     <jaxb:typesafeEnumMember value="4" name="Faulted"/>
                     <jaxb:typesafeEnumMember value="5" name="Compensatable"/>
                  </jaxb:typesafeEnumClass>
               </xs:appinfo>
            </xs:annotation>
            <xs:restriction base="xs:int">
               <xs:enumeration value="0"/>
               <xs:enumeration value="1"/>
               <xs:enumeration value="2"/>
               <xs:enumeration value="3"/>
               <xs:enumeration value="4"/>
               <xs:enumeration value="5"/>
            </xs:restriction>
         </xs:simpleType>

         <xs:simpleType name="suspendReasonType">
            <xs:annotation>
               <xs:appinfo>
                  <jaxb:typesafeEnumClass>
                     <jaxb:typesafeEnumMember value="-1" name="None"/>
                     <jaxb:typesafeEnumMember value="0" name="Manual"/>
                     <jaxb:typesafeEnumMember value="1" name="Automatic"/>
                     <jaxb:typesafeEnumMember value="2" name="Logical"/>
                     <jaxb:typesafeEnumMember value="3" name="Migrate"/>
                     <jaxb:typesafeEnumMember value="4" name="InvokeRecovery"/>
                     <jaxb:typesafeEnumMember value="5" name="InvokeRetry"/>
                  </jaxb:typesafeEnumClass>
               </xs:appinfo>
            </xs:annotation>
            <xs:restriction base="xs:int">
               <xs:enumeration value="-1"/>
               <xs:enumeration value="0"/>
               <xs:enumeration value="1"/>
               <xs:enumeration value="2"/>
               <xs:enumeration value="3"/>
               <xs:enumeration value="4"/>
               <xs:enumeration value="5"/>
            </xs:restriction>
         </xs:simpleType>

         <complexType name="processInstanceDetail">
            <sequence>
               <element name="ended" minOccurs="0" type="xs:dateTime"/>
               <element name="name" type="xs:QName"/>
               <element name="processId" type="xs:long"/>
               <element name="started" minOccurs="0" type="xs:dateTime"/>
               <element name="state" type="tns:processStateValueType"/>
               <element name="stateReason" type="tns:suspendReasonType" minOccurs="0"/>
            </sequence>
         </complexType>

         <xs:simpleType name="processStateFilterValueType">
            <xs:annotation>
               <xs:appinfo>
                  <jaxb:typesafeEnumClass>
                     <jaxb:typesafeEnumMember value="0" name="Any"/>
                     <jaxb:typesafeEnumMember value="1" name="Running"/>
                     <jaxb:typesafeEnumMember value="2" name="Completed"/>
                     <jaxb:typesafeEnumMember value="3" name="Faulted"/>
                     <jaxb:typesafeEnumMember value="4" name="CompletedOrFaulted"/>
                     <jaxb:typesafeEnumMember value="5" name="Suspended"/>
                     <jaxb:typesafeEnumMember value="6" name="SuspendedFaulting"/>
                     <jaxb:typesafeEnumMember value="7" name="SuspendedProgrammatic"/>
                     <jaxb:typesafeEnumMember value="8" name="SuspendedManual"/>
                     <jaxb:typesafeEnumMember value="9" name="Compensatable"/>
                     <jaxb:typesafeEnumMember value="10" name="SuspendedInvokeRecovery"/>
                     <jaxb:typesafeEnumMember value="11" name="RunningOrSuspended"/>
                  </jaxb:typesafeEnumClass>
               </xs:appinfo>
            </xs:annotation>
            <xs:restriction base="xs:int">
               <xs:enumeration value="0"/>
               <xs:enumeration value="1"/>
               <xs:enumeration value="2"/>
               <xs:enumeration value="3"/>
               <xs:enumeration value="4"/>
               <xs:enumeration value="5"/>
               <xs:enumeration value="6"/>
               <xs:enumeration value="7"/>
               <xs:enumeration value="8"/>
               <xs:enumeration value="9"/>
               <xs:enumeration value="10"/>
               <xs:enumeration value="11"/>
            </xs:restriction>
         </xs:simpleType>

         <xs:complexType name="processFilterType">
            <xs:complexContent>
               <xs:extension base="tns:listingFilter">
                  <xs:sequence>
                     <xs:element name="processCompleteEnd" minOccurs="0" type="xs:dateTime"/>
                     <xs:element name="processCompleteStart" minOccurs="0" type="xs:dateTime"/>
                     <xs:element name="processCreateEnd" minOccurs="0" type="xs:dateTime"/>
                     <xs:element name="processCreateStart" minOccurs="0" type="xs:dateTime"/>
                     <xs:element name="processName" minOccurs="0" type="xs:QName"/>
                     <xs:element name="processState" type="tns:processStateFilterValueType" default="0" minOccurs="0"/>
                     <xs:element name="processIdMin" minOccurs="0" type="xs:long"/>
                     <xs:element name="processIdMax" minOccurs="0" type="xs:long"/>
                     <xs:element name="processGroup" minOccurs="0" type="xs:string"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
         <xs:element name="removeProcessByQuery" type="tns:processFilterType"/>
         <xs:element name="removeProcessResult" type="xs:int"/>
         <xs:element name="storageError" type="xs:string"/>
         <xs:element name="getProcesses" type="tns:processFilterType"/>
         <xs:element name="processList">
            <complexType>
               <sequence>
                  <element name="processInstanceDetail" type="tns:processInstanceDetail" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
               <attribute name="complete" type="xs:boolean" use="required"/>
               <attribute name="totalRowCount" type="xs:int" use="required"/>
            </complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>

   <wsdl:message name="removeProcessByQuery">
      <wsdl:part name="name" element="tns:removeProcessByQuery"/>
   </wsdl:message>
   <wsdl:message name="removeProcessResult">
      <wsdl:part name="body" element="tns:removeProcessResult"/>
   </wsdl:message>
   <wsdl:message name="storageErrorMessage">
      <wsdl:part name="body" element="tns:storageError"/>
   </wsdl:message>
   
   <wsdl:message name="getProcesses">
      <wsdl:part name="body" element="tns:getProcesses"/>
   </wsdl:message>
   <wsdl:message name="processList">
      <wsdl:part name="body" element="tns:processList"/>
   </wsdl:message>
   
   <wsdl:portType name="AeProcessManager">
      <wsdl:operation name="removeProcessByQuery">
         <wsdl:input message="tns:removeProcessByQuery"/>
         <wsdl:output message="tns:removeProcessResult"/>
         <wsdl:fault name="StorageError" message="tns:storageErrorMessage"/>
      </wsdl:operation>
      <wsdl:operation name="getProcesses">
         <wsdl:input message="tns:getProcesses"/>
         <wsdl:output message="tns:processList"/>
         <wsdl:fault name="StorageError" message="tns:storageErrorMessage"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="AeProcessBinding" type="tns:AeProcessManager">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="removeProcessByQuery">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="StorageError">
            <soap:fault name="StorageError"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProcesses">
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="StorageError">
            <soap:fault name="StorageError"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:service name="ProcessManagerService">
      <wsdl:port binding="tns:AeProcessBinding" name="AeProcessManager">
         <soap:address location="http://localhost:8080/bpel-g/cxf/ProcessManagerService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
