trunk/bpel-g/bpelpeople.test/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.example.org/test/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="testPartnerLinkType">
        <plnk:role name="proces" portType="tns:test" />
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="testPartnerLinkType2">
        <plnk:role name="proces" portType="tns:test2" />
    </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/test/">
      <xsd:element name="SimpleFault" type="xsd:string"/>
      <xsd:element name="OneWay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SimpleFaultMessage">
    <wsdl:part element="tns:SimpleFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OneWay">
    <wsdl:part element="tns:OneWay" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest2">
    <wsdl:part element="tns:NewOperation2" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse2">
    <wsdl:part element="tns:NewOperationResponse2" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="test">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
      <wsdl:fault name="simpleFault" message="tns:SimpleFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="test2">
    <wsdl:operation name="NewOperation2">
      <wsdl:input message="tns:NewOperationRequest2"/>
      <wsdl:output message="tns:NewOperationResponse2"/>
      <wsdl:fault name="simpleFault" message="tns:SimpleFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="testOneway">
    <wsdl:operation name="oneway">
      <wsdl:input message="tns:OneWay"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
